{% extends "accounts/layout.html" %}

{% block content %}
<div class="container" style="background: #fbfbfb;">

<div class="text-center">
  <h2>마이페이지</h2>
</div>

<div class="col-xs-12 col-sm-4 col-sm-offset-4" style="background: #F3F781;
                                                       border: 1px solid;
                                                       border-radius: 4px;">
	<div>
		<p>작성자 아이디 :  {{ request.user.username }}</p>

	</div>

	<form action="{% url "accounts:mypage" %}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
	{% csrf_token %}
	  <div class="form-group">
	    <label for="userid">닉네임</label>
		{{mypageform.userid}}
	  </div>
    <div class="form-group">
	    <label for="server">서버 선택</label>
		{{mypageform.server}}
	  </div>
    <div class="form-group">
	    <label for="race">종족 선택</label>
		{{mypageform.race}}
	  </div>
	  <div class="form-group">
	    <label for="skill">주력기</label>
      <ul id="id_skill" class="form-select">
      <li><label for="id_skill_0"><input type="radio" name="skill" value="근접 전투" class="form-select" id="id_skill_0" checked="">
   <img src="https://s3.ap-northeast-2.amazonaws.com/mabivs/Icon/%EA%B7%BC%EC%A0%91%EC%A0%84%ED%88%AC.png"></label>

  </li>
      <li><label for="id_skill_1"><input type="radio" name="skill" value="랜스" class="form-select" id="id_skill_1">
   <img src="https://s3.ap-northeast-2.amazonaws.com/mabivs/Icon/%EB%9E%9C%EC%8A%A4.png"></label>

  </li>
      <li><label for="id_skill_2"><input type="radio" name="skill" value="궁술" class="form-select" id="id_skill_2">
   <img src="https://s3.ap-northeast-2.amazonaws.com/mabivs/Icon/%EA%B6%81%EC%88%A0.png"></label>

  </li>
      <li><label for="id_skill_3"><input type="radio" name="skill" value="마법" class="form-select" id="id_skill_3">
   <img src="https://s3.ap-northeast-2.amazonaws.com/mabivs/Icon/%EB%A7%88%EB%B2%95.png"></label>

  </li>
      <li><label for="id_skill_4"><input type="radio" name="skill" value="격투술" class="form-select" id="id_skill_4">
   <img src="https://s3.ap-northeast-2.amazonaws.com/mabivs/Icon/%EA%B2%A9%ED%88%AC%EA%B8%B0.png"></label>

  </li>
      <li><label for="id_skill_5"><input type="radio" name="skill" value="연금술" class="form-select" id="id_skill_5">
   <img src="https://s3.ap-northeast-2.amazonaws.com/mabivs/Icon/%EC%97%B0%EA%B8%88%EC%88%A0.png"></label>

  </li>
      <li><label for="id_skill_6"><input type="radio" name="skill" value="올라운더" class="form-select" id="id_skill_6">
   <img src="https://s3.ap-northeast-2.amazonaws.com/mabivs/Icon/all.png"></label>

  </li>
  </ul>
	  </div>
	  <div class="form-group">
	    <label for="context">자기소개</label>
		{{mypageform.context}}
	  </div>
    <!-- <div class="form-group">
	    <label for="image">이미지 첨부</label>
		{{mypageform.image}}
	  </div> -->
<button type="submit" class="btn btn-default">확인!</button>
	</form>

</div>
</div>
{% endblock %}
