{% extends "accounts/layout.html" %}

{% block content %}
<div class="container">
  <div class="row" style="
    margin-left: 10px;
    margin-right: 10px;">
    <table class="table table-striped">
      <div class="text-center">
        <legend>유저 목록</legend>
      </div>
      {% if user.is_authenticated %}
      <tr>
        <th class="text-center">서버</th>
        <th class="text-center">아이디</th>
        <th class="text-center">종족</th>
        <th class="text-center">주력기</th>
      </tr>
    </thead>
    <tbody>
      {% for profiles in profile %}

      <tr>
          <th class="text-center"><span class="label label-success">{{ profiles.server }}</span></th>
          <th class="text-center">{{ profiles.userid }}</th>
          <th class="text-center"><span class="label label-warning">{{ profiles.race }}</span></th>
          <th class="text-center"><span class="label label-info">{{ profiles.skill }}</span></th>
      </tr>

      {% endfor %}
    </tbody>
    </table>
    <div class="text-center">
      {% if profile.has_other_pages %}
        <ul class="pagination">
          {% if profile.has_previous %}
            <li><a href="?page={{ profile.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in profile.paginator.page_range %}
            {% if profile.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if profile.has_next %}
            <li><a href="?page={{ profile.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
      <form class="navbar-form navbar"  method="get">
        <div class="form-group">
          <input type="text" name="q" value="{{ q }}" />
          <input type="submit" value="검색" class="btn btn-primary"/>
        </div>
      </form>
    </div>
    {% else %}
    <div class="text-center">
      회원가입시 이용 가능합니다.
    </div>
    {% endif %}
  </div>
</div>
<script>

</script>
{% endblock %}
