{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="row" style="
      margin-left: 10px;
      margin-right: 10px;">
      <div style="position: relative;
                 background: #fbfbfb;">
                 <ul style="margin: 0;
                            padding: 0;
                            overflow: hidden;
                            background-color: #DCDCDC;">
                   <li style="float: right;
                              overflow: hidden;">
                     {{ notice.created_at| date:'Y-m-d g:i a' }}
                   </li>
                 <li>작성자 : {{ notice.author }}</li>
                 <li>제목 : {{ notice.title }}</li>
                 </ul>
      </div>
      <hr>

        <div class="row">
          <p>{{ notice.content }}</p>
          {% if notice.image %}
          <img class="img-responsive img-rounded" src="{{notice.image.url}}" style="max_length: 100%;" />
          {% endif %}
        </div>
      </div>

</div>
</div>
{% endblock %}
