{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
  <div class="row" style="
    margin-left: 10px;
    margin-right: 10px;">
    <table class="table table-striped">
      <div class="text-center">
        <legend style="background-color: #3b5998; color:#FFFFFF">공지사항</legend>
      </div>
      {% if user.is_authenticated %}
      <tr>
        <th>번호</th>
        <th class="text-center">제목</th>
        <th class="text-center">작성자</th>
        <th class="text-center">날짜</th>
      </tr>
    </thead>
    <tbody>
      {% for notices in notice %}

      <tr style="width: 60px;">
          <th style="width: 66px;">{{ notices.id }}</th>
          <th class="text-center"><a href="{% url "blog:notice_view" pk=notices.pk %}">{{ notices.title }}</a></th>
          <th style="width: 60px;">{{ notices.author }}</th>
          <th style="width: 100px;">{{ notices.created_at|date:"Y-m-d"  }}</th>
      </tr>

      {% endfor %}
    </tbody>
    </table>
    <hr>
    <div class="text-center">
      {% if notice.has_other_pages %}
        <ul class="pagination">
          {% if notice.has_previous %}
            <li><a href="?page={{ notice.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in notice.paginator.page_range %}
            {% if notice.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if notice.has_next %}
            <li><a href="?page={{ notice.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}

    </div>
    <div class="text-center">
    <form class="navbar-form navbar"  method="get">
      <div class="form-group">
        <input placeholder="공지 검색" type="text" name="q" value="{{ q }}" />
        <input type="submit" value="검색" class="btn btn-primary"/>
      </div>
    </form>
  </div>
  {% else %}
  <div class="text-center">
    회원가입시 이용 가능합니다.
  </div>
  {% endif %}
</div>
{% endblock %}
