{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="row" style="
      margin-left: 10px;
      margin-right: 10px;">
      <div style="position: relative;
                 background: #fbfbfb;">
        <div class="w_top_left" style="border: 1px solid;
                                       border-radius: 4px;
                                       background: #dddddd;">
              <dl class="wt_subject">
                <dt>제 목 :  {{ notice.title }}</dt>
              </dl>
              <dl class="wt_subject">
                <dt>글쓴이 :    {{ notice.author }}</dt>
                <div class="w_top_left" style="
                                      border-radius: 4px;
                                      background: #dddddd;">
              </dl>
        </div>
      </div>
      <hr>

        <div class="row">
          <p>{{ notice.content }}</p>
          {% if notice.image %}
          <img class="img-responsive img-rounded" src="{{notice.image.url}}" style="max_length: 100%;" />
          {% endif %}
        </div>
      </div>

</div>
</div>
{% endblock %}
