{% extends 'blog/base.html' %}

{% block content %}
<link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<div class="container">
  <div class="row" style="
    margin-left: 10px;
    margin-right: 10px;">
    <legend>게시판에 글 쓰기</legend>
    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="title">제목</label>
        {{form.title|safe}}
      </div>
      <div>
        <p>
          내용
        </p>
        {{form.content|safe}}
      </div>


        <button class="btn btn-large btn-block btn-primary" type="submit">저장</button>
    </form>
    <hr />
  </div>
</div>
<script>
$(function() {
  $('.form-group label').addClass('col-sm-2');
  $('.form-group input, .form-group textarea').addClass('form-control');
});
</script>
{% endblock %}
