{% extends 'blog/base.html' %}
{% load imagekit %}

{% block content %}
<div class="container">
    <div class="row" style="
      margin-left: 10px;
      margin-right: 10px;">
      <div class="header">
        <ul style="margin: 0;
                   padding: 0;
                   overflow: hidden;
                   background-color: #FFDAB9;">
          <li style="float: right;
                     overflow: hidden;">
            {{ post.created_at| date:'Y-m-d' }}
          </li>
        <li>작성자 : {{ post.author }}</li>
        <li>제목 : {{ post.title }}</li>
        </ul>
     </div>
      <hr>

        <div class="row">
          <p>{{ post.content }}</p>
          {% if post.image %}
          <img class="img-responsive img-rounded" src="{{post.image.url}}" style="max_length: 100%;" />
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="row"  style="
        margin-left: 10px;
        margin-right: 10px;
        ">

        <a style="float: right;" class="btn btn-default" href="{% url "blog:post_delete" pk=post.pk %}">
        <span class="glyphicon glyphicon-trash"> 삭제</span></a>
        <a style="float: right;" class="btn btn-default" href="{% url "blog:post_edit" pk=post.pk %}">
        <span class="glyphicon glyphicon-pencil"> 수정</span></a>

      </div>
      <hr>
      <div class="row"  style="
        margin-left: 10px;
        margin-right: 10px;">

      {% load disqus_tags %}

      {% disqus_show_comments %}

      </div>
      </ul>
      <hr>


</div>
{% endblock %}
