{% extends 'blog/base.html' %}
{% load imagekit %}

{% block content %}
<link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<div class="container">
    <div class="row" style="
      margin-left: 10px;
      margin-right: 10px;">
      <div class="header">
        <ul style="margin: 0;
                   padding: 0;
                   overflow: hidden;
                   background-color: #DCDCDC">
          <li style="float: right;
                     overflow: hidden;">
            {{ post.created_at| date:'Y-m-d g:i a' }}
          </li>
        <li>작성자 : {{ post.author.profile.userid }}</li>
        <li>제목 : {{ post.title }}</li>
        </ul>
     </div>
      <hr>

        <div class="row" style="
          margin-left: 10px;
          margin-right: 10px;">
          <p>{{ post.content|safe }}</p>
          <div id="good">
          {% if post.image %}
          </div>
          <img class="img-responsive img-rounded" src="{{post.image.url}}" style="max_length: 100%;" />
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="row"  style="
        margin-left: 10px;
        margin-right: 10px;
        ">
        <a style="float: right;" class="btn btn-default" href="{% url "blog:post_delete" pk=post.pk %}">
        <span class="glyphicon glyphicon-trash"> 삭제</span></a>
        <a style="float: right;" class="btn btn-default" href="{% url "blog:post_edit" pk=post.pk %}">
        <span class="glyphicon glyphicon-pencil"> 수정</span></a>

      </div>
      <hr>

      <div class="row"  style="
        margin-left: 10px;
        margin-right: 10px;">
      <h3>댓글 작성</h3>
        <form action="" class="form-horizontal" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="message">내용</label>
            <input type="text" name="message" maxlength="200" required="" id="id_message">
            <button class="btn btn-large btn-block btn-primary" type="submit">작성</button>
          </div>

        </form>

      </div>
      </ul>

      <hr>
      <div class="row"  style="
        margin-left: 10px;
        margin-right: 10px;">
      <h3>댓글목록</h3>
      {% for comments in post.comment_set.all %}
      <div style="background-color: #DCDCDC;">
        <table style="margin-bottom: 5px;" class="table table-striped">
          <tbody>
            <ul style="padding-left: 0px;">
              <li style="overflow: hidden;">
                <small>{{comments.author.profile.userid}}</small>
              </li>
              <strong><h4>{{comments.message}}</h4></strong>
              <li style="overflow: hidden;"><small>{{comments.updated_at| date:'Y-m-d g:i a'}}</small></li>
              {% if request.user == comments.author %}
              <li style="overflow: hidden;"><strong>
                <a style="float: right;" class="btn btn-default" href="{% url "blog:comment_delete" pk=comments.pk %}">
              <span class="glyphicon glyphicon-trash"> 댓글삭제</span></strong></a></li>
              {% endif %}

          </ul>
            <tbody>
        </table>
      </div>

      {% endfor %}

      {% if comment.has_other_pages %}
        <ul class="pagination">
          {% if comment.has_previous %}
            <li><a href="?page={{ comment.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in comment.paginator.page_range %}
            {% if comment.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if comment.has_next %}
            <li><a href="?page={{ comment.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
      </div>
</div>
<script>
$(function() {
  $('.form-group label').addClass('col-sm-2');
  $('.form-group input, .form-group textarea').addClass('form-control');
});
$(document).ready(function(){
    $("img").addClass("img-responsive");
});
// 이미지 조정 스크립트
</script>
{% endblock %}
