{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
  <div class="row" style="
    margin-left: 10px;
    margin-right: 10px;">
    <table class="table table-striped">
      <div class="text-center">
        <legend style="background-color: #F3F781;">게시판</legend>
      </div>
      {% if user.is_authenticated %}
      <tr>
        <th>번호</th>
        <th class="text-center">제목</th>
        <th class="text-center">작성자</th>
      </tr>
    </thead>
    <tbody>
      {% for posts in post %}
      <tr style="width: 60px;">
          <th style="width: 66px;">{{ posts.id }}</th>
          <th class="text-center"><a href="{% url "blog:post_detail" pk=posts.pk %}">{{ posts.title }}</a></th>
          <th style="width: 60px;"><small>{{ posts.author }}</small></th>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    <hr>
    <a style="float: right; background-color: #F3F781;" class="btn btn-default" href="{% url "blog:post_new" %}">
    <span class="glyphicon glyphicon-pencil"> 작성</span></a>
    <div class="text-center">

{% if post.has_other_pages %}
  <ul class="pagination">
    {% if post.has_previous %}
      <li><a href="?page={{ post.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in post.paginator.page_range %}
      {% if post.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if post.has_next %}
      <li><a href="?page={{ post.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    </div>

    <div class="text-center">
    <form class="navbar-form navbar"  method="get">
      <div class="form-group">
        <input type="text" name="q" value="{{ q }}" />
        <input type="submit" value="검색" class="btn btn-primary"/>
      </div>
    </form>
  </div>
  {% else %}
  <div class="text-center">
    회원가입시 이용 가능합니다.
  </div>
  {% endif %}
</div>
{% endblock %}
